<nav class="navbar navbar-expand-lg navbar-dark bg-theme-colored">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <img width="50px" alt="Logo" src="../../assets/img/logo.jpg">
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/user">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/project">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/edit-user">Items</a>
            </li>
        </ul>
    </div>
</nav>